.Box {
    padding: 50px  0px;
    background-image: linear-gradient(rgb(101, 95, 95), black);
     bottom: 0px; 
     width: 100%;
    @media (max-width: 1000px) {
     padding: 70px 30px;
    }
    margin-top: 20px; 
    position: static;
    padding-top: 100px;
 }
 .Container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     max-width: 1000px;

     margin: auto;
 }
 .column {
     display: flex;
     flex-direction: column;
     text-align: left;
     margin-left: 60px;
     text-decoration-color: white;
     
 }
 .Row {
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     @media (max-width:1000px) {
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
     }
 }
 .heading {
     font-size: 18px;
     color: white;
     margin-bottom: 40px;
     font-weight: bold;

 }
 .Box p{
    color: aliceblue;

 } 